<div class="card">
  <%= link_to image_tag(tweet.image, class: :card__img ), tweet_path(tweet.id), method: :get %>
  <div class="card__body">
    <%= link_to tweet.store_name, tweet_path(tweet.id), class: :card__title, method: :get %>
    <%= "#{tweet.price}円" %>
    <p class="card__summary">
      <%= tweet.store_type %>
      <%= "(#{tweet.place_area.name})" %>
    </p>
    <%= link_to "by #{tweet.user.name}", "/users/#{tweet.user_id}", class: :card__user %>
  </div>
</div>