<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @tweet.store_name %>
        <%= "(#{@tweet.place_area.name})" %>
      </p>
      <%= link_to "by #{@tweet.user.name}", "/users/#{@tweet.user_id}", class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && @tweet.record.blank? %>
        <% if current_user.id == @tweet.user_id %>
          <div class="prototype__manage">
            <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :prototype__btn %>
            <%= link_to "削除する", tweet_path(@tweet.id), class: :prototype__btn, method: :delete %>
          </div>
        <% else %>
          <%= link_to "購入画面に進む", tweet_records_path(@tweet.id),class:"item-red-btn" %>
        <% end %>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @tweet.image %>
      </div>
      <% if @tweet.record.present? %> 
        <div class="sold-out">
          <span>予約済み!!</span>
        </div>
      <% end %>
      <table class="prototype__body">
        <tbody>
          <tr class="prototype__detail">
            <th class="detail__title">お店の種類</th>
            <td class="detail__message">
              <%= @tweet.store_type %>
            </td>
          </tr>
          <tr class="prototype__detail">
            <th class="detail__title">投稿者の年齢</th>
            <td class="detail__message">
              <%= "#{@tweet.user.age}歳" %>
            </td>
          </tr>
          <tr class="prototype__detail">
            <th class="detail__title">お店の電話番号(ハイフンなし)</th>
            <td class="detail__message">
              <%= @tweet.phone %>
            </td>
          </tr>
          <tr class="prototype__detail">
            <th class="detail__title">お店の料金</th>
            <td class="detail__message">
              <%= "#{@tweet.price}円" %>
            </td>
          </tr>
          <tr class="prototype__detail">
            <th class="detail__title">お店の紹介</th>
            <td class="detail__message">
              <%= @tweet.information %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@tweet, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>           
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>   
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <h4>＜コメント一覧＞</h4>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= link_to comment.user.name, "/users/#{comment.user_id}", class: :comment_user %>
              <strong><%= "(#{comment.user.age}歳)" %>：</strong>
              <%= comment.text %>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>